In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

os.chdir(os.path.abspath("/Users/dipalshah/Desktop/prosperity3"))

#for Aryan: /Users/dipalshah/Desktop/prosperity3
#for Tarun: /Users/tarun/Desktop/Finance_Projects/prosperity3
#add yours: right click round_1 folder and copy path, then paste and remove the round_1 part

print("Working directory set to:", os.getcwd())

from tools import Plotter, Regressor

Working directory set to: /Users/dipalshah/Desktop/prosperity3

In [3]:
p1 = pd.read_csv("round_2/data/prices_round_2_day_-1.csv", sep=";", index_col = "timestamp")
p2 = pd.read_csv("round_2/data/prices_round_2_day_0.csv", sep=";", index_col = "timestamp")
p3 = pd.read_csv("round_2/data/prices_round_2_day_1.csv", sep=";", index_col = "timestamp")
t1 = pd.read_csv("round_2/data/trades_round_2_day_-1.csv", sep=";", index_col = "timestamp")
t2 = pd.read_csv("round_2/data/trades_round_2_day_0.csv", sep=";", index_col = "timestamp")
t3 = pd.read_csv("round_2/data/trades_round_2_day_1.csv", sep=";", index_col = "timestamp")

In [4]:
p1

,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,
0,-1,CROISSANTS,4304,112,NaN,NaN,NaN,NaN,4305,112,NaN,NaN,NaN,NaN,4304.5,0.0
0,-1,JAMS,6670,66,6669.0,137.0,NaN,NaN,6671,66,6672.0,137.0,NaN,NaN,6670.5,0.0
0,-1,SQUID_INK,2005,1,2002.0,31.0,NaN,NaN,2006,31,NaN,NaN,NaN,NaN,2005.5,0.0
0,-1,PICNIC_BASKET1,59284,20,59283.0,18.0,NaN,NaN,59294,2,59295.0,36.0,NaN,NaN,59289.0,0.0
0,-1,PICNIC_BASKET2,30606,20,30605.0,18.0,NaN,NaN,30612,20,30613.0,18.0,NaN,NaN,30609.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999900,-1,DJEMBES,13493,76,NaN,NaN,NaN,NaN,13494,76,NaN,NaN,NaN,NaN,13493.5,0.0
999900,-1,KELP,2028,31,NaN,NaN,NaN,NaN,2030,6,2031.0,31.0,NaN,NaN,2029.0,0.0
999900,-1,RAINFOREST_RESIN,9996,2,9995.0,29.0,NaN,NaN,10004,2,10005.0,29.0,NaN,NaN,10000.0,0.0
999900,-1,PICNIC_BASKET1,59222,2,59221.0,13.0,59220.0,27.0,59231,2,59232.0,13.0,59233.0,27.0,59226.5,0.0
999900,-1,PICNIC_BASKET2,30502,15,30501.0,27.0,NaN,NaN,30507,2,30508.0,40.0,NaN,NaN,30504.5,0.0

In [5]:
t1

           buyer  seller            symbol   currency    price  quantity
timestamp
0            NaN     NaN              KELP  SEASHELLS   2029.0        13
0            NaN     NaN              KELP  SEASHELLS   2029.0         1
0            NaN     NaN  RAINFOREST_RESIN  SEASHELLS  10004.0         1
0            NaN     NaN         SQUID_INK  SEASHELLS   2006.0        13
0            NaN     NaN         SQUID_INK  SEASHELLS   2006.0         1
...          ...     ...               ...        ...      ...       ...
999500       NaN     NaN              KELP  SEASHELLS   2030.0         2
999500       NaN     NaN         SQUID_INK  SEASHELLS   1972.0         2
999600       NaN     NaN        CROISSANTS  SEASHELLS   4321.0         8
999600       NaN     NaN  RAINFOREST_RESIN  SEASHELLS   9998.0         1
999900       NaN     NaN        CROISSANTS  SEASHELLS   4322.0         5

[12620 rows x 6 columns]

In [ ]:
prices_by_product = pd.DataFrame([p1[p1["product"] == product]["mid_price"].values for product in p1["product"].unique()], columns = p1["product"].unique())

ValueError: Must pass 2-d input. shape=(8, 10000, 16)